<h3>Tareas</h3>

@page "/Tareas"
@page "/Tareas/{TareaId:int}"

@inject IToastService toast

<EditForm Model="tareas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registro de Tareas</h3>
        </div>

        <div class="card-body">
            <form>
                @*Tarea Id*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>Tarea Id</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="tareas.TareaId" class="form-control" />
                                <div class="input-group-append ml-2">
                                    <button type="button" style="z-index:0" class="btn btn-secondary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Descripcion*@
                <div class="form-group">
                    <label>Descripcion</label>
                    <InputText @bind-Value="tareas.Descripcion" class="form-control" />
                    <ValidationMessage For="@(() => tareas.Descripcion)" />
                </div>

                @*Reqquerimiento*@
                <div class="form-group">
                    <label>Requerimiento</label>
                    <InputText @bind-Value="tareas.Requerimiento" class="form-control" />
                    <ValidationMessage For="@(() => tareas.Requerimiento)" />
                </div>

                @*Tiempo Aproximado*@
                <div class="form-group">
                    <label>Tiempo Aproximado (Horas)</label>
                    <InputText @bind-Value="tareas.TiempoAproximado" class="form-control" />
                    <ValidationMessage For="(() => tareas.TiempoAproximado)" />
                </div>


                @*Fecha Creacion*@
                <div class="form-group">
                    <label>Fecha del Registro</label>
                    <InputDate @bind-Value="tareas.FechaCreacion" class="form-control" />
                    <ValidationMessage For="(() => tareas.FechaCreacion)" />
                </div>



            </form>
        </div>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="button" class="btn btn-success" @onclick="Guardar">Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>

    </div>
</EditForm>



@code {

    [Inject]
    private TareasBLL tareasBLL { get; set; }

    [Parameter]
    public int TareaId { get; set; }

    Tarea tareas = new Tarea();

    protected override void OnInitialized()
    {
        Nuevo();
      
    }

    public void Limpiar()
    {
        this.tareas = new Tarea();

    }

    public async void Buscar()
    {
        var registro = await tareasBLL.Buscar(tareas.TareaId);

        if (registro != null)
        {
            this.tareas = registro;

        }
        else
        {
            toast.ShowInfo("No se encontró el registro.");
        }
    }

    public void Nuevo()
    {
        Limpiar();
    }

    public async void Guardar()
    {

        if (await tareasBLL.Guardar(tareas))
        {

            toast.ShowSuccess("Guardado");
            Limpiar();
            StateHasChanged();


        }
        else
        {
            toast.ShowError("No se logró guardar el registro.");

        }


    }

    public async void Eliminar()
    {
        if (await tareasBLL.Eliminar(tareas.TareaId))
        {
            toast.ShowSuccess("Eliminado");
            Limpiar();
        }
        else
        {
            toast.ShowError("No se logró eliminar el registro.");

        }
    }

}
