@page "/"

<h1>Hello, Dear User!</h1>

Welcome to your Internship Management Web App .

<p>Any Issue? Plese Contact the Support Team to assist you </p>

<SurveyPrompt Title="How is the App working you?" />
